@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: #1c1e21;

  /* Color of the text/words */
  --text-color: #fff;

  /* Main color of your brand */
  --color-primary: #f213a4;

  /* Secondary color of your brand */
  --color-secondary: #418dff;

  /* Which font you want to use */
  --font: "Inter", sans-serif;

  /* Color of the border around items */
  --border-color: rgba(255, 255, 255, 0.5);
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

body {
  background: var(--background-color);
  font-family: var(--font);
  color: var(--text-color);

  display: flex;
  margin: 0;
  text-align: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
