.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.previewImage {
  height: 500px;
  width: 500px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 8px;
}

.mintInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
  min-height: 720px;
  max-width: 95vw;
  gap: 2%;
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.infoSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100%;
}

.description {
  opacity: 0.7;
  font-size: 1rem;
}

.imageSide {
  width: 25%;
  height: 100%;
}

.image {
  width: 85%;
  border-radius: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(
    to left,
    var(--color-primary) 0%,
    var(--color-secondary) 101.52%
  );
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.mintCompletionArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mintAreaLeft {
  margin-left: 5%;
  opacity: 0.75;
}

.mintAreaRight {
  margin-right: 5%;
  opacity: 0.75;
}

.spacerTop {
  margin-top: 16px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.buttonGapTop {
  cursor: pointer;
  margin-top: 32px;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.mintContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 24px;
}

.textInput {
  width: 48px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
}

.quantityControlButton {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid grey;
  color: #fff;
}

.quantityControlButton:disabled {
  opacity: 0.25;
}

.timer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: -40px;
}

.timerItem {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.timerValue {
  font-size: 2rem;
  font-weight: 600;
}

.timerLabel {
  font-size: 1rem;
  opacity: 0.75;
  margin-top: -20px;
}

/* On mobile, make the .mintInfoContainer stack vertically */
@media screen and (max-width: 850px) {
  .mintInfoContainer {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .infoSide {
    width: 100%;
  }

  .imageSide {
    width: 100%;
  }
}
